resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

kibanaConfig:
  kibana.yml: |
    server.host: "0.0.0.0"
    elasticsearch.hosts: [ "https://elasticsearch-master:9200" ]
    elasticsearch.ssl.verificationMode: none
    elasticsearch.serviceAccountToken: '${KIBANA_SERVICE_TOKEN}'

# Override default HTTP-only host to prevent connection errors
elasticsearchHosts: "https://elasticsearch-master:9200"

extraEnvs:
  - name: KIBANA_SERVICE_TOKEN
    valueFrom:
      secretKeyRef:
        name: kibana-service-token
        key: token

ingress:
  enabled: true
  className: "alb"
  pathtype: Prefix
  annotations:
    alb.ingress.kubernetes.io/group.name: easyshop-app-lb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/backend-protocol: HTTP
    # REPLACE with your valid ACM Certificate ARN
    alb.ingress.kubernetes.io/certificate-arn: "arn:aws:acm:eu-west-1:783476056561:certificate/eb44b507-7da0-47c6-9b38-90a3ce4c7239"
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}, {"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/healthcheck-path: "/login"
  hosts:
    - host: logs-kibana.devopsdock.site
      paths:
        - path: /
